@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: Ploni;
  src: url("../../assets/fonts/Ploni\ ML\ v2\ AAA\ Regular.otf");
}

@layer base {
  h1 {
    @apply text-[40px];
    @apply font-primary
  }
  h2 {
    @apply text-xl;
    @apply font-primary
  }
  h3 {
    @apply text-sm;
    @apply font-primary
  } 
  a {
    @apply text-blue-600 underline;
    @apply font-primary
  }
}

